---
const { title, description } = Astro.props;
---

<div class="child-component-container">
  <h2 class="child-component-title">{title}</h2>
  <p class="child-component-content">{description}</p>
</div>
