---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import  ArticleList from '../../components/ArticleList.astro';

export async function getStaticPaths() {
  const prod = import.meta.env.PROD;
  console.log(prod);
  let allBlogPosts;

  if(prod == true) {
    allBlogPosts = await getCollection('blog', ({data}) => data.draft !== true);
  } else {
    allBlogPosts = await getCollection('blog');
  }
  // console.log('allPosts: ', allPosts);
  const tags: string[] = [];

  allBlogPosts.forEach((post) => {
      post.data.tags!.forEach((tag: string) => {
        tags.push(tag.toLowerCase());
      });
  });


  return Array.from(new Set(tags)).map((tag) => {
    return {
      params: { tag },
      props: {
        tag,
        blogposts: allBlogPosts.filter((post) => post.data.tags!.map(tag => tag.toLowerCase()).includes(tag)),
      },
    };
  });
}

const { tag, blogposts } = Astro.props;
---

<Layout title=`Jeff Caldwell | ${tag}`>
  <main class="flow" id="main" tabindex="-1">
    <h1 class="page-title">Posts tagged {tag}</h1>
    <ArticleList articles={blogposts} />
  </main>
</Layout>

<style>
  main {
    --flow-space: var(--size-6);
  } 
  h1 {
    margin-bottom: var(--size-6);
  }
</style>
