---
import Layout from '../layouts/Layout.astro';
const { href } = Astro.url;
---
<Layout title="Oops! 404">
  <main>
    <img src="/Grackle.svg" alt="A black grackle with yellow eyes and a cyan beak centered within a magenta circle.">

    <h1>404: Not Found</h1>
    <p>Looks like the page at <br/> {href} <br /> doesn't exist!</p>
    <a href="/">Go back home!</a>
  </main>
</Layout>

<style>
  main {
    margin-top: var(--size-6);
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
    align-items: center;
  }

  img {
    width: 350px;
  }

  p,
  a {
    font-size: var(--size-3);
    font-family: var(--display);
  }

  p {
    text-align: center;
  }
</style>
