---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import ArticleCard from '../components/ArticleCard.astro';
import IntroGraphic from '../components/IntroGraphic.astro';
import Icon from '../components/Icon.astro';

let allBlogPosts = await getCollection('blog', ({data}) => data.draft !== true);
let allProjectPosts = await getCollection('projects', ({data}) => data.draft !== true);

let allPosts = [...allBlogPosts, ...allProjectPosts]
  .sort((a, b) => b.data.date - a.data.date)
  .slice(0, 6);
---

<Layout title="Jeff Caldwell" description="Jeff Caldwell is a web developer, writer, journalist, and student who makes fast, accessible websites and writes engaging docs and tutorials.">
	<main id="main" tabindex="-1">
    <div class="hero">
      <h1>
        <span class="visible-hidden">Jeff Caldwell is a web developer, writer, and student.</span>
        <IntroGraphic />
      </h1>
    </div>

    <div class="content">
      <p class="message">
        I make websites that work for everyone, and write concise, simple docs.
      </p>
      <div class="button-group">
        <a href="/projects" class="button">Projects</a>
        <a href="/resume" class="button">Resume</a>
      </div>
    </div>

    <div class="hint">
      <h2>Featured Posts</h2>
    </div>

    <section id="latest">
      {allPosts.map((post) => <ArticleCard data={post.data} headingLevel={3} url={'/' + post.collection + '/' + post.slug}/>)}
    </section>
    <div class="more">
      <a href="/blog" >
        More posts
        <Icon name="arrow" label="More posts" />
      </a>
    </div>
	</main>
  <div class="isolate">
    <div class="noise"></div>
    <div class="overlay"></div>
  </div>
</Layout>

<style>

  body {
    position: relative;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: var(--size-4);
  }

  .hero {
    color: var(--primary);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--size-0);
  }

  .message {
    font-size: var(--size-3);
    text-wrap: balance;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }

  .button-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--size-6);
    }

  .hint,
  #latest,
  .more {
    grid-column: span 2;
  }

  .hint {
    border-bottom: var(--outline-medium) solid var(--fg);
  }
  #latest {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: var(--size-6);
  }
  
  .more {
    display: flex;
    justify-content: flex-end;
    color: var(--bg);
  }

  .more a {
    display: flex;
    align-items: center;
    gap: var(--size--1);
    outline-color: var(--primary);
  }

  .more a:focus {
    text-decoration-color: transparent;
    color: var(--primary);
  }

  .more a:hover {
    color: var(--primary);
    text-decoration-color: var(--primary);
  }

  .isolate {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
   isolation: isolate; 
  }

  .noise,
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .noise {
    filter: contrast(130%);
    background:
      linear-gradient(
        0deg,
        var(--secondary),
        var(--secondary-alpha-2),
        var(--secondary-alpha),
        var(--bg-alpha-2),
        var(--bg),
        var(--bg)
      ),
      url('/images/noise.svg');
  }

  .overlay {
    background: var(--secondary);
    mix-blend-mode: multiply;
  }

  @media(max-width: 25rem) {
    .message {
      font-size: var(--size-2);
    }
  }

  @media(min-width: 48rem) {
    main {
      padding: var(--size-6);
    }
  }

  @media(min-width: 60rem) {
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--size-6);
      justify-items: stretch;
    }

    .hero,
    .content {
      margin-block: var(--size-6);
    }

    main > * + * {
      margin-top: 0;
    }

    .message {
      font-size: var(--size-3);
    }

    .button-group {
      gap: var(--size-0);
    }

    .hint h2 {
      font-size: var(--size-4);
    }
    
  }
</style>
