---
import Icon from '../components/Icon.astro';
const startDate = new Date('February 26, 2023');
const currentDate = new Date();
const startYear = startDate.getFullYear();
const currentYear = currentDate.getFullYear();
const notSameYear = currentYear !== startYear;

const url = Astro.url;
const path = url.pathname;
const isHome = path === '/';
const mainColor = isHome ? '#13111b' : '#19E7FF';
const secondaryColor = isHome ? '#13111b' : '#FF008A';
---

<footer>
  <div class="footer-inner">
    <section>
      <h2>Pages</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </section>
    <section>
      <h2>Links</h2>
      <ul>
        <li>
          <Icon name="rss" label="RSS"/>
          <a href="/rss.xml">RSS</a>
        </li>
        <li>
          <Icon name="mastodon" label="Mastodon"/>
          <a href="https://hachyderm.io/@trainingmontage" rel="me">Mastodon</a>
        </li>
        <li>
          <Icon name="github" label="GitHub"/>
          <a href="https://github.com/nemo-omen" rel="me">GitHub</a>
        </li>
        <li>
          <Icon name="linkedin" label="LinkedIn" />
          <a href="https://www.linkedin.com/in/jeff-caldwell-4424181a/" rel="me">LinkedIn</a>
        </li>
      </ul>
    </section>
    <section>
      <p class="display">
        &copy; {startYear}
        {notSameYear && - currentYear}
        Jeff Caldwell.
      </p>
      <p>Made with <a href="https://astro.build">Astro</a>.</p>
      <p>Non-intrusive, non-tracking analytics by <a href="plausible.io">Plausible</a>.</p>
    </section>
  </div>
</footer>

<style define:vars={{mainColor, secondaryColor}}>
  footer {
    border-top: 2px dotted var(--mainColor);
  }
  footer *{
    font-size: var(--size-0);
    color: var(--mainColor);
  }

  footer section {
    padding: var(--size-1);
    /* text-align: center; */
  }

  /* footer section:not(:last-of-type) { */
  /*   border-bottom: 2px dotted var(--secondaryColor); */
  /* } */

  footer section p {
    text-align: left;
  }

  footer h2 {
    color: var(--mainColor);
  }

  footer ul {
    margin: 0;
    padding: 0;
    list-style-type: '';
  }

  footer li {
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding-block: 0.215em;
  }

  footer li a {
    font-family: var(--body);
    text-transform: uppercase;
  }

  footer a {
    text-decoration-color: var(--mainColor);
  }

  footer a:focus {
    outline-color: var(--mainColor);
  }

  footer li :global(svg.c) {
    width: var(--size-2);
    height: var(--size-2);
  }

  .display {
    font-weight: 600;
    letter-spacing: 0.1em;
    border-bottom: 0.3ex solid var(--mainColor);
    padding-bottom: var(--size--2);
    margin-bottom: var(--size--2);
    /* font-size: var(--size-1); */
  }

  /* hr { */
  /*   color: var(--mainColor); */
  /*   background-color: var(--mainColor); */
  /*   border-width: 0.3ex; */
  /*   border-color: var(--mainColor); */
  /* } */

  @media(min-width: 48rem) {
    .footer-inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--size-2);
    }

    footer section {
      padding: 0 var(--size-2) 0 0;
    }

    /* footer section:not(:last-of-type) { */
    /*   border-right: 2px dotted var(--secondaryColor); */
    /*   border-bottom: none; */
    /* } */

    hr {
      display: block;
    }
  }
</style>
