---
import Layout from '../layouts/Layout.astro';

export interface props {
  title: string;
}

const {data} = Astro.props;

const {title} = data;
---

<Layout {title}>
  <main>
    <article class="flow blog-post">
      <h1>{title}</h1>
      <time>{data.date.toLocaleDateString('en-us', {weekday: 'long', month: 'long', day: 'numeric', year: 'numeric'})}</time>
      <slot />
    </article>
  </main>
</Layout>
