---
import Layout from './Layout.astro';

export interface props {
  title: string;
  summary: string;
}

const {title, frontmatter} = Astro.props;
const { summary } = frontmatter;
---

<Layout {title} description={summary}>
  <main class="flow" id="main">
    <article class="flow">
      <slot />
    </article>
  </main>
</Layout>

<style>
  article {
    margin-inline: unset;
  }
</style>
